.App-header {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.name {
  display: inline;
  color: #23272a;
  font-size: 130px;
}

.school {
  font-size: 28px;
}

.links {
  font-size: 1.2rem;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.scroll {
  margin: 20px;
}

.verb {
  color: #009ACD
}

.blue-btn a{
  color: white;
  text-decoration:none;
  text-align: center;
  display:block;
}

.blue-btn, .first-link{
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;     
}


.blue-btn{
  height: 64px;
  font: normal normal 700 1em/4em Arial,sans-serif;
  overflow: hidden;
  width: 200px;
  background-color: #23272a;
  border-radius: 20px;
  margin:auto;
}

.blue-btn:hover{
   background-color: #7289da;
  
}

.blue-btn a:hover{
  text-decoration: none;
}

.first-link{
  margin-top: 0em;   
}

.blue-btn:hover .first-link{
  margin-top: -4em;
}